extends ../layout

block content
  form(action="/books/search", method="post")
      input(type="text", name="search" placeholder="Enter your search")
      input(type="submit" class="button search" value="Search")
  p
    a(href="/books/new", class="button") Create New Book
  table
    thead
      tr
        th="Title"
        th="Author"
        th="Genre"
        th="Year"
    tbody
      each book in books
          tr
            td
              a(href = "/books/" + book.id)=book.title
            td=book.author
            td=book.genre
            td=book.year
    p(class="pagination")
      script
        include script.js
      
      - var page = 0;

      //a(onclick='getQueryVariable('+ page +')', href="/books/pages/" + page, class="button" id="btnPrev" ) Previous  

      //
      
      a(href="/books/pages/" + page, class="button" id="btnNext") Next