extends ../layout

block content
  form(action="/books/search", method="post")
      input(type="text", name="search" placeholder="Enter your search")
      input(type="submit" class="button search" value="Search")
  p
    a(href="/books/new", class="button") Create New Book
  table
    thead
      tr
        th="Title"
        th="Author"
        th="Genre"
        th="Year"
    tbody
      each book in books
          tr
            td
              a(href = "/books/" + book.id)=book.title
            td=book.author
            td=book.genre
            td=book.year
    p
    
      - var page = 0;

      mixin link(href, name)
        //- attributes == {class: "btn"}
        a(class!=attributes.class href=(href))= name

      +link("/books/" + `${ page + 1}`, 'Next')(class="button")

      
      //a(onclick='increment('+ page +')', href="/books/" + page class="button" id="btnPrev" ) Previous  

      //a(onclick='increment('+ page +')', href="/books/" + page, class="button" id="btnNext" style="margin-left: 10px") Next